body {
	margin: 0;
	background-color:#ececec;
	font-family: 'Zilla Slab', serif;
}

#mobile-socials {
	text-align: center;
	padding-bottom: 15px;
}

#mobile-socials .addthis_toolbox {
	width: auto;
	display: inline-flex;
}

#centering {
	float: center;
}

#container {
	color: #050505;
	display: inline-block;
	text-align: left;
}

#bio {
	background-color: #f9f9f9;
	display:inline-block;
	text-align: left;
}

.img-maxed {
	width: 100%;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
	position: relative;
}

.quote {
	text-align: center;
	margin-top: 50px;
}

.link-row {
	margin-bottom: 50px;
}

.link-box {
	text-align: center;
	background: white;
	color: black;
	margin: 50px 0 0 0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.link-image:hover h3 {
	font-weight: bold;
}

.link-image {
	position: relative;
	background: white;
	margin: 30px;
}

.link-image img, .link-image div {
	border-radius: 10px;
	width: 100%;
}

.link-image div {
	background-size: 100%;
	background-position: bottom;
}

.link-image h3 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	margin: 0 -30px;
	color: white;
	background: #ab3333e0;
}

.link-box p {
	padding: 0 20px 20px 20px;
	margin: 0;
}

/* large */
@media (min-width: 992px) {

	.link-box {
		font-size: 2vw;
	}

	.link-image h3 {
		font-size: 2.5vw;
	}

	.link-image div {
		padding-bottom: 100%;
	}

	.quote {
		font-size: 3vw;
	}

}

/* medium */
@media (min-width: 768px) and (max-width: 991px) {

	.link-box {
		font-size: 20px;
	}

	.link-image h3 {
		font-size: 30px;
	}

	.link-image div {
		padding-bottom: 50%;
	}

	.quote {
		font-size: 24px;
	}

}

@media (max-width: 767px) {
	
	.link-box {
		font-size: 20px;
	}

	.quote {
		font-size: 24px;
	}

	.link-image h3 {
		font-size: 30px;
	}

	.link-image div {
		padding-bottom: 100%;
	}

}

/* xs */
@media (max-width: 575px) {

	.link-image {
		margin: 20px;
	}

	.link-box {
		margin-top: 30px;
		font-size: 16px;
	}

	.link-image h3 {
		font-size: 20px;
		margin: 0 -20px;
	}

	.quote {
		font-size: 16px;
		margin-top: 30px;
	}
}