footer {
	display: flex;
	background-color:#423d3d;
	color: #d0d0d0;
	padding: 10px 0;
}

footer p {
	font-size: 16px;
	margin-bottom: 0;
}

#contact-me {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0px;
}

.addthis_inline_follow_toolbox {
	display: inline-block;
	position: relative;
	margin-right: -2px;
	margin-left: -2px;
	margin-bottom: -10px;
}

footer .no-decorate {
	text-decoration: none;
	color: inherit;
}

/* small */
@media (max-width: 767px) {

	#contact-me {
		font-size: 14px;
	}

	footer p {
		font-size: 12px;
	}

}