header {
  background-color: #393939;
}

#upper-header {
  background-color: #ab3333;
  font-family: 'Yellowtail', cursive;
}

header h1 {
  display: inline-block;
  vertical-align: top;
  color: #191919;
  position: relative;
}

header nav {
  overflow: hidden;
}

header nav li {
  display: block;
}

header nav li.selected {
  cursor: default;
  pointer-events: none;
  background-color: #ab3333;
}

@media(min-width: 768px) {
  header, header nav li.selected {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  header nav li.selected {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media(max-width: 767px) {

  header nav {
    width: 100%;
    position: absolute;
    transition: 0.5s;
    z-index: 10;
    background: #191919e0;
    padding: 10px 0;
  }

  header nav, header nav li {
    transition: 0.5s;
  }

  header nav:not(.active), header nav:not(.active) * {
    opacity: 0;
    display: none;
  }

  header nav li.selected {
    border-radius: 10px;
    border: solid 2px white;
  }

  header nav li {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  header nav li a {
    display: block;
    padding: 0px 10px 5px;
  }

}

header nav li a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

header nav li a:hover {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

header nav li:not(.selected) a:hover {
  font-weight: bold;
}

/* medium and large */
@media (min-width: 768px) {

  header {
    padding-bottom: 5px;
  }
  
}

/* large */
@media (min-width: 992px) {

  #upper-header {
    height:25vw;
  }

  header nav {
    font-size: 2.5vw;
  }

  header nav li {
    margin-bottom: 0.5vw;
  }

  header nav li a {
    display: block;
    height: 5.7vw;
    padding: 1vw 1.5vw;
  }

  header img {
    width: 16vw;
    height: 16vw;
    margin: 5vw 0;
  }

  header h1 {
    font-size: 11vw;
    margin-top: 10.5vw;
  }
}

/* medium */
@media (min-width: 768px) and (max-width: 991px) {

  #upper-header {
    height: 300px;
  }

  header nav {
    font-size: 3.5vw;
  }

  header nav li {
    width: 25%;
    text-align: center;
    margin-bottom: 0.5vw;
  }

  header nav li a {
    display: block;
    height: 10vw;
    padding: 1.7vw 1.5vw;
  }

  header img {
    width: 180px;
    height: 180px;
    margin: 60px 0;
  }

  header h1 {
    font-size: 130px;
    margin-top: 110px;
  }
}

/* small */
@media (max-width: 767px) {

  #upper-header {
    height: 80px;
  }

  header img {
    width: 50px;
    height: 50px;
    margin: 15px 0;
  }

  header h1 {
    font-size: 30px;
    margin-top: 30px;
  }

}