* {
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: black;
}

header {
  height: 50px;
  text-align:center;
  background-color: black;
  background-image:url("../res/black-gradient.png");
}

#header-container {
  position: relative;
  display: flex;
  max-width:1000px;
}

header img {
  margin: auto 10px auto 20px;
  align-self: flex-start;
}

header h1 {
  align-self: flex-start;
  margin: 2px 0 0 20px;
  font-size: 30px;
  color:white;
}

header h2 {
  align-self: flex-end;
  margin: 5px 20px 5px auto;
  font-size: 20px;
  color: #d0d0d0;
}

nav {
  background-color: white;
  border-bottom: 1px solid;
  border-bottom-color: gray;
  box-sizing: border-box;
}

nav div {
  width: 1000px;
  height: 50px;
}

nav ul {
  width: auto;
  height: 50px;
  margin-left: 0;
  list-style-type: none;
}

a {
  color:black;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

#header-hp-link {
    display: flex;
    margin: 0px;
}

nav ul li a {
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  border-bottom: 5px;
  height: 50px;
  float: left;
  font-size: 17px;
  transition: 0.2s;
  border: 2px solid transparent;
  box-sizing: border-box;
}

nav ul li a.selected {
    background-image:url("../res/selected-tab-gradient.png");
}

nav ul li a:hover:not(.selected) {
  height: 50px;
  color: #555;
}

nav ul li a:hover:not(.selected):after {
  height: 36px;
  background-color: #555;
  color: white;
}

article {
  display: flex;
  padding: 25px 0 25px 0;
  width: auto;
  height: auto;
  background-color: #f0f0f0;
}

section{
  border-radius: 2px;
  padding: 15px;
  height: 200px;
  background-color: #fafafa;
}

.main .largeBox{
    margin: 25px 10px;
    padding: 15px;
    width: 950px;
    height: 400px;
}

.main .hugeBox{
    margin: 25px auto;
    padding: 15px;
    width: 950px;
    height: 1000px;
}

article .main{
  width: 1000px;
  height: auto;
}

.icon_box{
    width: 40px;
    padding-top: 5px;
    margin: 0 10px 0 0;
}

.infoBox{
  width: 350px;
  float: left;
}

.infoBox h2{
  margin-bottom: 5px;
}

.infoBox img{
  margin: 10px 0;
}

aside{
  height: inherit;
  width: 555px;
  float: right;
}

aside ul{
  list-style-type: none;
}

aside ul li p{
  margin-bottom: 10px;
}

aside ul li h6 {
  display: inline-block;
  margin-right: 10px;
  font-size:inherit;
}

.coolButton{
  border-radius: 10px;
  color:white;
  height: 35px;
  text-align: center;
  padding-top:10px;
  background-color: #292929;
  width: 100%;
}

.main .smallBox{
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 435px;
  height: 200px;
}

.left {
  margin-right: 12.5px;
  margin-left: 10px;
  float: left;
}

.right {
  margin-left: 12.5px;
  margin-right: 10px;
  float: right;
}

.headingTwo {
  margin-bottom: 5px;
  text-align: center;
}

.upHalf{
  width: 435px;
  height: 50px;
  position: absolute;
}

.bottomHalf{
  width: 435px;
  height: auto;
  position: absolute;
  bottom: 15px;
}

.rightBar{
  float: right;
  display: block;
  margin: 25px 10px 25px 25px;
  width:300px;
  right: 0;
  height: 600px;
}

#blogBody{
  display: block;
  margin: 0 25px 0 10px;
  width:585px;
  height: auto;
  float: left;
}

.inBlog{
  display: block;
  width: 555px;
  margin: 50px 0 25px 0;
}

.blogHeader{
  margin-top: 25px;
  height: 300px;
}

.centered{
  line-height: 150%;
  margin-top: 20px;
  text-align: center;
}

footer{
  width: auto;
  height: 50px;
  background-color: black;
  background-image:url("../res/black-gradient.png");
}

#footer-container{
  max-width: 1000px;
}

footer p{
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  float:right;
  color:white;
}
