body {
	margin: 0;
	background-color:#ececec;
	font-family: Verdana;
}

#centering {
	text-align: center;
}

#container {
	color: #050505;
	display: inline-block;
	text-align: left;
}

#bio {
	background-color: #f9f9f9;
	display:inline-block;
	text-align: left;
}

nav {
	background-color: #f9f9f9;
	text-align: center;
}

@media (min-width:1200px) {

	#container {
		width: 1000px;
		padding: 100px 0 50px 0;
		font-size: 20px;
	}

	#bio {
		width: 700px;
		padding: 25px;
	}

	nav {
		width:250px;
		float: right;
		padding: 25px;
	}

	#image-wrapper {
		float: left;
		margin: 5px 20px 0px 5px;
		width: 310px;
		height: 310px;
		position: relative;
	}

	#profile-pic {
		width: 300px;
		height: 300px;
		position: absolute;
		display: block;
	}

	.shadow {
		background-color: #fff18f;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 300px;
		height: 300px;
	}
	
	#profile-pic ~ .shadow {
		width: 300px;
		height: 300px;
	}

	h2 {
		display: inline-block;
		margin-bottom: 10px;
	}

	.centered {
		text-align: center;
	}
}

@media (max-width:1199px) {

	#container {
		width: 80%;
		font-size: 16px;
		padding: 50px 0 50px 0;
		text-align: center;
	}

	#bio {
		width: 100%;
		padding: 25px;
	}

	nav {
		display: inline-block;
		width: 250px;
		padding: 25px;
		margin-top: 20px;
	}

	#image-wrapper {
		width: 100%;
		padding-top: 100%;
		position: relative;
	}

	#profile-pic {
		width: 95%;
		position: absolute;
		top: 0;
	}

	.shadow {
		background-color: #fff18f;
		position: absolute;
		width: 95%;
		padding-top: 95%;
		top: 10px;
		left: 10px;
	}
	
	#profile-pic ~ .shadow {
		width: 300px;
		height: 300px;
	}

	h2 {
		display: inline-block;
		margin-bottom: 10px;
	}

	.centered {
		text-align: center;
	}
}