footer {
	background-color:#423d3d;
	color: #d0d0d0;
	padding: 10px;
}

footer .floatright {
	float: right;
	text-align: right;
	clear: right;
}

footer p.bold {
	font-weight: bold;
	font-size: 15px;
}

#footer-content {
	display: inline-block;
	text-align: left;
}

footer p {
	font-size: 12px
}


.addthis_inline_follow_toolbox{
	position: relative;
	left: 2px;
}

@media (min-width:1200px) {
	#footer-content {
		width: 1000px;
	}
}

@media (max-width:1199px) {
	#footer-content {
		width: 100%;
	}
}

@media (min-width: 600px) {
	footer .email-and-phone {
		float: left;
	}

	.addthis_inline_follow_toolbox p{
		margin-bottom: 5px;
		margin-right: 2px;
	}
}
@media (max-width: 599px) {
	footer .email-and-phone {
		float: right;
		text-align: right;
	}

	.addthis_inline_follow_toolbox p{
		height:5px;
		opacity: 0%;
	}
}