header {
  background-color:#ab3333;
  font-family: Serif;
}

header > h1 {
  display: inline-block;
  vertical-align: top;
  color: #1f0505;

  position: relative;
}

#school-logos {
  display:inline-block;
  position: absolute;
  background-color: #c3c3c3;
  border-radius: 50%;
}

#school-logos > img{
  horizontal-align:right;
  display: block;
}

/* large */

@media (min-width: 1200px) {
  header {
    height:300px;
  }

  header > img {
    width:250px;
    height:250px;
    margin: 25px 0 25px 25px;
  }

  header > h1 {
    font-size:120px;
    margin-top: 140px;
    left: -35px;
  }

  #school-logos {
    padding: 50px;
    top: 100px;
    right: 50px;
  }

  #school-logos > img{
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 760px) and (max-width: 1199px) {
  header {
    height:200px;
  }

  header > h1 {
    font-size: 80px;
    margin-top: 95px;
    left: -23px;
  }

  header > img {
    width:170px;
    height:170px;
    margin: 15px 0 15px 15px;
  }

  #school-logos {
    padding: 33px;
    top: 67px;
    right: 33px;
  }

  #school-logos > img{
    height: 100px;
    width: 100px;
  }
}

/* small */

@media (max-width: 759px) {
  header {
    height: 100px;
    display: block;
    text-align: center;
  }

  header > h1 {
    font-size: 40px;
    margin-top: 45px;
    left: -23px;
  }

  header > img {
    height: 80px;
    width: 80px;
    margin: 10px;
  }

  #school-logos {
    position: static;
    padding: 10px;
    top: 10px;
    margin-bottom: 10px;
  }

  #school-logos > img{
    height: 60px;
    width: 60px;
  }
}