*{
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  height: 50px;
  background-color: black;
  background-image:url("../res/black-gradient.png");
}

header div{
  display: flex;
  width:1000px;
}

header img{
  margin: auto 10px auto 20px;
  align-self: flex-start;
}

header h1{
  align-self: flex-start;
  margin: auto 0 auto 20px;
  color:white;
  font-size: 30px;
}

nav{
  background-color: white;
  background-image:url("../res/nav-gradient.png");
}

nav div{
  width: 1000px;
  height: 50px;
}

ul {
  width: auto;
  height: 50px;
  margin-left: 0;
  list-style-type: none;
}

ul li a{
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  color:black;
  display: block;
  height: 40px;
  float: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

ul li a.selected{
    background-image:url("../res/selected-tab-gradient.png");
}

ul li a:hover:not(.selected){
  height: 36px;
  background-color: #555;
  color: white;
}

article{
  padding-top: 25px;
  width: auto;
  height: 1200px;
  background-color: #ebebeb;
  background-image: url("../res/article-gradient.png");
}

section{
  margin: 25px auto;
  padding: 15px;
  width: 950px;
  height: 400px;
  background-color: #fafafa;
}

#nametag{
  width: 350px;
  float: left;
}

#nametag h2{
  margin-bottom: 5px;
}

#nametag img{
  margin: 10px 0;
}

aside{
  height: inherit;
  width: 500px;
  float: right;
}

footer{
  width: auto;
  height: 50px;
  background-color: black;
  background-image:url("../res/black-gradient.png");
}
