<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="res/icon.png" rel="icon">
</head>
<body>
    <header>
        <div id="header-container">
            <a href="/" id="header-hp-link"><h1>Walden Yan</h1></a>
            <!--<h2>Walden Yan</h2>-->
        </div>
    </header>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="math">Math</a>
                </li>
                <li>
                    <a href="programming">Programming</a>
                </li>
                <li>
                    <a href="competitions">Competitions</a>
                </li>
                <li>
                    <a href="blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    {{ content }}
    <footer>
      <div id=='footer-container'>
        <p id = "contact">
          Email: waldenyan20@gmail.com<br>Instagram: @waldenyan20
        </p>
      </div>
    </footer>
</body>
</html>
