<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="res/icon.png" rel="icon">
</head>
<body>
    <header>
        <div id="header-container">
            <div class="icon_box">
              <img src="res/icon-white.png" alt="logo" width="40px" height="40px">
            </div>
            <h1>WalnutWaldo</h1>
            <ul>
              <li><a href="https://walnutwaldo.github.io/login">Login</a></li>
              <li><a href="https://walnutwaldo.github.io/register">Register</a></li>
            </ul>
        </div>
    </header>
    {{ content }}
    <footer>
      <div>
        <p id = "contact">
          walnutwaldo20@gmail.com
        </p>
      </div>
    </footer>
</body>
</html>
