<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="res/icon.png" rel="icon">
</head>
<body>
    <header>
        <div id="header-container">
            <div class="icon_box">
              <img src="res/icon-white.png" alt="logo" width="40px" height="40px">
            </div>
            <h1>WalnutWaldo</h1>
            <ul>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="math.html">Math</a>
                </li>
                <li>
                    <a href="programming.html">Programming</a>
                </li>
                <li>
                    <a href="competitions.html">Competitions</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    {{ content }}
    <footer>
      <div id=='footer-container'>
        <p id = "contact">
          walnutwaldo20@gmail.com
        </p>
      </div>
    </footer>
</body>
</html>
